.prologue-page #bg {
    background-image: url('../../shared/assets/images/gate.jpg');
}

.chapter-1-page #bg {
    background-image: url('../../shared/assets/images/storm-at-sea.jpg');
}

.chapter-2-page #bg {
    background-image: url('../../shared/assets/images/study.jpg');
    filter: brightness(70%) saturate(80%);
}


#bg-video-wind {
    opacity: 0.4;
    mix-blend-mode: screen;
    transform: scaleX(-1);
}

#bg-video-mountain {
    opacity: 1;
    mix-blend-mode: normal;
    filter: brightness(25%) blur(2px);
}

#bg-video-lens {
    opacity: 1;
    mix-blend-mode: normal;
}

#bg-video-lens-warm {
    opacity: 0.7;
    mix-blend-mode: normal;
    filter: brightness(80%);
}

#bg-video-snow {
    opacity: 0.8;
    mix-blend-mode: screen;
}

#bg-video-study {
    opacity: 1;
    mix-blend-mode: normal;
    filter: brightness(70%) saturate(80%);
}