.prologue-page #bg {
    background-image: url('../../shared/assets/images/gate.jpg');
}

.chapter-1-page #bg {
    background-image: url('../../shared/assets/images/deck.jpg');
}

#bg-video-wind {
    opacity: 0.4;
    mix-blend-mode: screen;
    transform: scaleX(-1);
}

#bg-video-mountain {
    opacity: 1;
    mix-blend-mode: normal;
    filter: brightness(25%) blur(2px);
}