.prologue-page #bg {
    background-image: url('../../shared/assets/images/precipice.jpg');
    filter:
            brightness(0.5)
            saturate(0.7)
            contrast(0.7);
}

#bg-video-snow {
    opacity: 0.4;
    mix-blend-mode: screen;
    transform: scaleX(-1);
}