/* docs/abyssus/story.css */
#bg {
    background-image: url('assets/images/background.jpg');
}

#bg-video-snow {
    opacity: 0.4;
    mix-blend-mode: screen;
    transform: scaleX(-1);
}

#bg-video-mountain {
    opacity: 1;
    mix-blend-mode: normal;
    filter: brightness(25%) blur(2px);
}